<app-header-with-arrow [title]="product.name"></app-header-with-arrow>

<ion-content>
    <ion-card>
        <img src="{{product.imageUrl}}">
        <ion-card-header>{{ product.extendedName }}</ion-card-header>
        <ion-text id="price">{{ product.price }}€</ion-text><br>
        <ion-card-content *ngIf="product.discount > 0" id="discount">
          <ion-text id="oldPrice">PVP: {{ product.priceWithoutTax }}€</ion-text>
          <ion-text id="discountPercentage">{{ product.discount }}%</ion-text>
        </ion-card-content>
        <ion-text id="description">{{ product.description }}</ion-text>
      </ion-card>
      <ion-button *ngIf="!isInWishlist(product.id)" (click)="addToWishlist(product.id)">
        <ion-icon name="star-outline" slot="start"></ion-icon>
        <ion-label>Añadir a la lista de deseos</ion-label>
      </ion-button>
      <ion-button *ngIf="isInWishlist(product.id)" (click)="removeFromWishlist(product.id)">
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>Eliminar de la lista de deseos</ion-label>
      </ion-button>
</ion-content>
